.addcontact {
  margin: 50px;
  width: 300px;
  height: 50px;
  border-width: 0;
  background: #CEF3BD;
  border-radius: 50px;
}
.addcontact:hover {
  background: #B9D8AA;
  transition: 0.2s;
}
.removecontact {
  margin: 50px;
  width: 300px;
  height: 50px;
  border-width: 0;
  background: #F3BDBD;
  border-radius: 50px;
}
.removecontact:hover{
  background:#DFB3B3;
  transition: 0.2s;
}

.homepage{
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.namelist{
  display:flex;
  justify-content: space-evenly;
}

.contactpage{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contactphoto{
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 240px;
  height: 240px;
  background-color: #D9D9D9;
  border-radius: 50%;
}

.format {
  display: flex;
  justify-content: center;
}

.input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.enterValue{
  margin: 10px;
  width: 250px;
  height: 50px;
  padding-left: 20px;
  border-width: 0;
  background: #D9D9D9;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.initial{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 3px solid red;
}

.initialtext{
  font-size: 100px;
}

.confirmContact{
  margin: 10px;
  width: 150px;
  height: 50px;
  border-width: 0;
  background: #CEF3BD;
  border-radius: 50px;
}

